var orderState = function(state) {
  switch(state) {
    case 0:
      return "发单";
      break;
    case 1:
      return "发单中";
      break;
    case 2:
      return "已接单";
      break;
    case 3: 
      return "待确认";
      break;
    case 4:
      return "发单";
      break;
  }
};

module.exports = {
  orderState: orderState
};
